header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  display: inline-block;

  color: #5c5c5c;
  text-decoration: none;
  font-weight: 800;
  transition: 0.2s ease-in-out;
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

.menu-mobile {
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;

  transition: 0.3s ease-in-out;
}

.menu-mobile.open-menu {
  width: 70%;
}

.menu-mobile.open-menu ~ .overlay-menu {
  display: block;
}

.btn-open-menu i {
  color: #00ff08;
  font-size: 38px;
}

.overlay-menu {
  background-color: #000000b2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;

  display: none;
}

.menu-mobile .btn-close-menu {
  padding: 20px 4%;
}

.menu-mobile .btn-close-menu i {
  color: #00ff08;
  font-size: 25px;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  display: block;

  padding: 20px 8%;

  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.menu-mobile nav ul li a:hover {
  background-color: #00ff08;
  color: #000;
}

.btn-open-menu {
  display: none;
}
